body {
  background-color: #bbc8d3;
  margin-top: 5rem;
}

main {
  background: #fffafa;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px #fffafaa5,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding-top: 1.5rem;
}

footer {
  display:block;
  line-height : 3;
  font-size: 14px;
  text-align: center;
}

a {
  text-decoration: none;
}
  
ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
  }

.bg-steel {
    background-color: #275174;
    border-bottom : 5px solid #ff5722;
  }

.site-header .navbar-brand {
    color: #ffffff;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 26px;
  }

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem;
    font-size: 22px;
  }
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }


/* Profile header CSS */

.profile-header {
  padding-bottom: 1rem;
}

.profile-header a {
  text-decoration: none;
}

.profile-header .profile-img {
  margin-right : 15px;
  margin-left : 15px;
  margin-top: 15px;
}
    
.profile-header .profile-img .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    border-radius: 50%;
}
    
.profile-header .name-wrapper {
    color: #333333;
    margin-bottom : 30px;
}

.profile-header .name-wrapper h1 {
  text-transform : uppercase;
  line-height    : 1;
  margin         : 0 0 5px;
}

.profile-header .name-wrapper span {
  font-size : 24px;
  color     : #ff5722;
}

.profile-header .personal-details-1, .profile-header .personal-details-2{
  margin : 20px 0;
}

.profile-header .personal-details-1 strong, .profile-header .personal-details-2 strong {
  font-size   : 24px;
  display     : block;
  line-height : 1.5;
}

.profile-header .personal-details-1 small, .profile-header .personal-details-2 small {
  font-size : 18px;
  line-height : 1;
}

@media (max-width: 767px){
  .profile-header .personal-details-1 small, .profile-header .personal-details-2 small {
    font-size : 16px;
    line-height : 1;
  }
}

.profile-header .personal-details-1 span {
  font-size : 16px;
  margin-left: 20px;
  line-height : 1;
  color: #918a8a;
}

@media (max-width: 767px){
  .profile-header .personal-details-1 span {
    font-size : 14px;
    margin-left: 20px;
    line-height : 1;
    color: #918a8a;
  }
}

.profile-header .personal-details-2 span {
  font-size : 16px;
  margin-bottom: 3cm;
  margin-left: 25px;
  line-height : 1;
  color: #918a8a;
}

@media (max-width: 767px){
  .profile-header .personal-details-2 span {
    font-size : 16px;
    margin-bottom: 3cm;
    margin-left: 25px;
    line-height : 1;
    color: #918a8a;
  }
}

.profile-header .personal-details-1 i, .profile-header .personal-details-2 i {
    margin-top: 8px;
}
  
.profile-header .social-icon {
  margin  : 16px 0;
  /* padding-top : 10px; */
  display : block;
  text-align: center;
  }

.profile-header .social-icon li {
  display : inline-block;
  margin  : 0 2px;
  }

.profile-header .social-icon li a {
  display       : block;
  font-size     : 32px;
  color         : #101010;
  width         : 42px;
  height        : 42px;
  line-height   : 42px;
  text-align    : center;
  border-radius : 2px;
  /* border        : 2px solid #eeeeee; */
  text-decoration: none;
}

.profile-header .social-icon li a:hover {
  /* border-color : #cccccc; */
  color         : #7b7b7b;
}

.profile-header-contents {
  padding-bottom: 1.5rem;
}

.profile-header-contents p{
  margin: 0;
  margin-left: 0;
  padding: 0;
  font-size : 18px;
}

.profile-header-contents li{
  list-style-type: circle;
  font-size : 16px;
  margin-left: 2rem;
}

.profile-header-contents ul{
  margin-bottom: 1rem;
}

.profile-header-contents a{
  font-size : 18px;
  margin-right: 0px;
  text-decoration: none;
}

.profile-header-contents .bullet_link{
  font-size : 16px;
  margin-right: 0px;
  text-decoration: none;
}

.profile-header-contents span{
  font-size : 18px;
}

.profile-header-contents b{
  font-size : 18px;
  margin-right: 5px;
}

.profile-header-contents .job-date{
  display: inline-block;
}

.recent-update{
  padding-bottom: 1.5rem;
}

.recent-update h3{
  color: #ff5622dc;
  margin: 0;
  border-bottom : 2px solid #ff5622dc;
}

.recent-update .update1{
  margin: 0;
  padding: 0;
}

.recent-update .update2{
  background-color:  #e9e1e1;
  margin: 0;
  padding: 0;
}

.recent-update .event-date{
  line-height : 3;
  padding-left: 8px;
  display: inline-block;
}

.recent-update .event{
  /* padding-left: 5px; */
  line-height : 3;
  display: inline-block;
}

.recent-update a{
  text-decoration: none;
}

/* other web pages CSS */

.page-main{
  border-bottom : 2px solid #ff5622dc;
  margin-bottom: 1rem;
}

.publication-sections h4{
  font-size: 20px;
  text-transform : uppercase;
}

.publication-sections b{
  font-weight: 600;
}

.publication-sections ul{
  font-size: 16px;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.publication-sections li{
  margin-bottom: 1rem;
}

.publication-sections span{
  font-weight: 500;
}

.publication-sections .publication-highlight{
  font-weight: 300;
  color:#de8237;
}

.project-sections h4{
  font-size: 20px;
}

.project-sections b{
  font-weight: 600;
}

.project-sections ul{
  font-size: 16px;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.project-sections li{
  margin-bottom: 1rem;
}

.project-sections span{
  font-weight: 500;
}

.project-sections .publication-highlight{
  font-weight: 300;
  color:#de8237;
}

.project-sections img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-sections hr{
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 2px solid #090200eb;;
}

#segmenter{
  max-width: 80%;
}

#semi-supervised-segmentation{
  max-width: 60%;
}




/* nav {
    float: right;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav li a:hover {
    text-decoration: underline;
} */